<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center" border="1">
<form action="{% url 'jing' %}" method="post" enctype="multipart/form-data">
   <h1 align="center">镜像上传</h1>
    <tr>
        <td>
    命名：<input type="text" name="name" >
    </td></br> 
        
        
    </tr>
    <tr>
        <td>
    <input type="reset" value="重置" name="bt1" ></td>
        <td>
    <input type="submit" value="提交" name="bt2"></td>
    </tr>
</form>

</table>
</body>
</html>